host: insidan.linkopingsfallskarmsklubb.se
argo-cd:
  dex:
    enabled: true
  configs:
    params:
      server.rootpath: "/argocd"
      server.insecure: true
      dex.server.insecure: true
    cm:
      url: https://insidan.linkopingsfallskarmsklubb.se/argocd
      dex.config: |
        connectors:
        - type: oidc
          id: lfk
          name: LFK Account
          config:
            issuer: https://auth.linkopingsfallskarmsklubb.se
            clientID: argocd
            clientSecret: $argo-cd-custom-secrets:dex.authelia.clientSecret
            redirectURI: https://insidan.linkopingsfallskarmsklubb.se/argocd/api/dex/callback
            scopes:
              - openid
              - profile
              - email
              - groups
    rbac:
      policy.default: role:readonly
      policy.csv: |
        p, role:admin, applications, *, *, allow
        g, argocd-admins, role:admin
