argo-cd:
  dex:
    enabled: true
  configs:
    params:
      server.rootpath: "/argocd"
      server.insecure: true
    cm:
      url: http://localhost:8080/argocd
      dex.config: |
        connectors:
        - type: oidc
          id: lfk
          name: LFK Account
          config:
            issuer: http://authelia.authelia.svc.cluster.local:80
            clientID: argocd
            clientSecret: $argo-cd-custom-secrets:dex.authelia.clientSecret
            redirectURI: http://localhost:8080/argocd/api/dex/callback
            scopes:
              - openid
              - profile
              - email
              - groups
              - offline_access
            insecureSkipVerify: true
    rbac:
      policy.default: role:readonly
      policy.csv: |
        p, role:admin, applications, *, *, allow
        g, argocd-admins, role:admin
