apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      enableServiceLinks: false
      containers:
        - name: lldap
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 17170
              name: http
            - containerPort: 3890
              name: ldap
          env:
            - name: LLDAP_LDAP_BASE_DN
              value: {{ .Values.ldap_base_dn | quote }}
            - name: LLDAP_LDAP_USER_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secrets
                  key: LLDAP_LDAP_USER_PASS
            - name: LLDAP_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secrets
                  key: LLDAP_JWT_SECRET
            - name: LLDAP_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secrets
                  key: LLDAP_DATABASE_URL
            - name: LLDAP_HTTP_PORT
              value: "17170"
            - name: LLDAP_LDAP_PORT
              value: "3890"
            - name: LLDAP_HTTP_URL
              value: "http://{{ .Release.Name }}:17170"
            - name: LLDAP_KEY_SEED
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secrets
                  key: LLDAP_KEY_SEED
            - name: LLDAP_FORCE_LDAP_USER_PASS_RESET
              value: "true"
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-data
          {{- else }}
          emptyDir: {}
          {{- end }}
