apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .Values.secretStore }}
    kind: ClusterSecretStore
  target:
    name: {{ .Release.Name }}-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        LLDAP_JWT_SECRET: "{{"{{"}} .jwt_secret | trim {{"}}"}}"
        LLDAP_KEY_SEED: "{{"{{"}} .key_seed | trim {{"}}"}}"
        LLDAP_LDAP_USER_PASS: "{{"{{"}} .ldap_user_pass | trim {{"}}"}}"
        LLDAP_DATABASE_URL: "postgres://{{ .Values.postgres.user }}:{{"{{"}} .postgres_password {{"}}"}}@{{ .Values.postgres.host }}:{{ .Values.postgres.port }}/{{ .Values.postgres.database }}"
  data:
    - secretKey: jwt_secret
      remoteRef:
        key: {{ .Values.secrets.jwtSecret }}
    - secretKey: key_seed
      remoteRef:
        key: {{ .Values.secrets.keySeed }}
    - secretKey: ldap_user_pass
      remoteRef:
        key: {{ .Values.secrets.ldapUserPass }}
    - secretKey: postgres_password
      remoteRef:
        key: {{ .Values.secrets.postgresPassword }}
