apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  configuration.yml: |
    server:
      host: 0.0.0.0
      port: 9091

    log:
      level: debug

    totp:
      issuer: linkopingsfallskarmsklubb.se

    authentication_backend:
      password_reset:
        disable: true
      file:
        path: /secrets/users_database.yml

    storage:
      postgres:
        host: {{ .Values.postgres.host }}
        port: {{ .Values.postgres.port }}
        database: {{ .Values.postgres.database }}
        username: {{ .Values.postgres.user }}

    session:
      name: authelia_session
      expiration: 1h
      inactivity: 5m
      remember_me_duration: 1M
      domain: linkopingsfallskarmsklubb.se

    notifier:
      filesystem:
        filename: /config/notification.txt

    identity_providers:
      oidc:
        cors:
          endpoints:
            - authorization
            - token
            - revocation
            - introspection
          allowed_origins:
            - https://insidan.linkopingsfallskarmsklubb.se
        clients:
          {{- range .Values.clients }}
          - id: {{ .id }}
            client_secret: "OVERRIDDEN_BY_ENV_VAR"
            description: {{ .name }}
            public: false
            authorization_policy: one_factor
            redirect_uris:
              {{- range .redirect_uris }}
              - {{ . }}
              {{- end }}
            scopes:
              - openid
              - profile
              - email
              - groups
            userinfo_signing_algorithm: none
          {{- end }}

    access_control:
      default_policy: deny
      rules:
        - domain: "*.linkopingsfallskarmsklubb.se"
          policy: one_factor
