apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .Values.secretStore }}
    kind: ClusterSecretStore
  target:
    name: {{ .Release.Name }}-secrets
    creationPolicy: Owner
    template:
      data:
        users_database.yml: |
          users:
            admin:
              displayname: "Admin"
              password: "{{"{{"}} .admin_password_hash {{"}}"}}"
              email: admin@linkopingsfallskarmsklubb.se
              groups:
                - admins
                - argocd_users
        jwt-secret: "{{"{{"}} .jwt_secret | trim {{"}}"}}"
        session-secret: "{{"{{"}} .session_secret | trim {{"}}"}}"
        storage-encryption-key: "{{"{{"}} .storage_encryption_key | trim {{"}}"}}"
        oidc-issuer-private-key: "{{"{{"}} .oidc_issuer_private_key | trim {{"}}"}}"
        oidc-hmac-secret: "{{"{{"}} .oidc_hmac_secret | trim {{"}}"}}"
        postgres-password: "{{"{{"}} .postgres_password | trim {{"}}"}}"
        {{- range .Values.clients }}
        client-{{ .id }}-secret: "{{"{{"}} index . (print "client_" (replace .id "-" "_") "_secret") | trim {{"}}"}}"
        {{- end }}
  data:
    - secretKey: jwt_secret
      remoteRef:
        key: {{ .Values.secrets.jwtSecret }}
    - secretKey: session_secret
      remoteRef:
        key: {{ .Values.secrets.sessionSecret }}
    - secretKey: storage_encryption_key
      remoteRef:
        key: {{ .Values.secrets.storageEncryptionKey }}
    - secretKey: oidc_issuer_private_key
      remoteRef:
        key: {{ .Values.secrets.oidcIssuerPrivateKey }}
    - secretKey: oidc_hmac_secret
      remoteRef:
        key: {{ .Values.secrets.oidcHmacSecret }}
    - secretKey: postgres_password
      remoteRef:
        key: {{ .Values.secrets.postgresPassword }}
    - secretKey: admin_password_hash
      remoteRef:
        key: authelia-admin-password-hash
    {{- range .Values.clients }}
    - secretKey: client_{{ .id | replace "-" "_" }}_secret
      remoteRef:
        key: {{ .secretRef }}
    {{- end }}
