apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authelia-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .Values.secretStore | default "secret-store" }}
    kind: ClusterSecretStore
  target:
    name: authelia-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        jwt-secret: "{{"{{"}} .jwt_secret | trim {{"}}"}}"
        session-secret: "{{"{{"}} .session_secret | trim {{"}}"}}"
        storage-encryption-key: "{{"{{"}} .storage_encryption_key | trim {{"}}"}}"
        oidc-issuer-private-key: "{{"{{"}} .oidc_issuer_private_key | trim {{"}}"}}"
        oidc-hmac-secret: "{{"{{"}} .oidc_hmac_secret | trim {{"}}"}}"
        postgres-password: "{{"{{"}} .postgres_password | trim {{"}}"}}"
        ldap-password: "{{"{{"}} .lldap_password | trim {{"}}"}}"
        "notifier.smtp.password.txt": "none"
        {{- range .Values.clients }}
        client-{{ .id }}-secret: "{{"{{"}} .client_{{ .id | replace "-" "_" }}_secret | trim {{"}}"}}"
        {{- end }}
  data:
    - secretKey: jwt_secret
      remoteRef:
        key: {{ .Values.secrets.jwtSecret }}
    - secretKey: session_secret
      remoteRef:
        key: {{ .Values.secrets.sessionSecret }}
    - secretKey: storage_encryption_key
      remoteRef:
        key: {{ .Values.secrets.storageEncryptionKey }}
    - secretKey: oidc_issuer_private_key
      remoteRef:
        key: {{ .Values.secrets.oidcIssuerPrivateKey }}
    - secretKey: oidc_hmac_secret
      remoteRef:
        key: {{ .Values.secrets.oidcHmacSecret }}
    - secretKey: postgres_password
      remoteRef:
        key: {{ .Values.secrets.postgresPassword }}
    - secretKey: lldap_password
      remoteRef:
        key: {{ .Values.secrets.lldapAdminPassword }}
    {{- range .Values.clients }}
    - secretKey: client_{{ .id | replace "-" "_" }}_secret
      remoteRef:
        key: {{ .secretRef }}
    {{- end }}
