apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-init-scripts
data:
  init-authelia.sh: |
    #!/bin/bash
    set -e
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
      CREATE USER authelia WITH PASSWORD '$AUTHELIA_PASSWORD';
      CREATE DATABASE authelia;
      GRANT ALL PRIVILEGES ON DATABASE authelia TO authelia;
      ALTER DATABASE authelia OWNER TO authelia;
    EOSQL
