apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-init-scripts
data:
  init-authelia.sh: |
    #!/bin/bash
    set -e
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" \
      -v authelia_pass="$AUTHELIA_PASSWORD" \
      -v lldap_pass="$LLDAP_POSTGRES_PASSWORD" <<-'EOSQL'
      CREATE USER authelia WITH PASSWORD :'authelia_pass';
      CREATE DATABASE authelia;
      GRANT ALL PRIVILEGES ON DATABASE authelia TO authelia;
      ALTER DATABASE authelia OWNER TO authelia;

      CREATE USER lldap WITH PASSWORD :'lldap_pass';
      CREATE DATABASE lldap;
      GRANT ALL PRIVILEGES ON DATABASE lldap TO lldap;
      ALTER DATABASE lldap OWNER TO lldap;
    EOSQL
