apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-init-scripts
data:
  init-authelia.sh: |
    #!/bin/bash
    set -e
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" \
      -v authelia_pass="$AUTHELIA_PASSWORD" \
      -v lldap_pass="$LLDAP_POSTGRES_PASSWORD" <<-'EOSQL'
      -- Create authelia user and database
      DO $$
      BEGIN
        IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = 'authelia') THEN
          CREATE ROLE authelia LOGIN;
        END IF;
      END
      $$;
      ALTER ROLE authelia WITH PASSWORD :'authelia_pass';
      
      SELECT 'CREATE DATABASE authelia' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'authelia')\gexec
      GRANT ALL PRIVILEGES ON DATABASE authelia TO authelia;
      ALTER DATABASE authelia OWNER TO authelia;

      -- Create lldap user and database
      DO $$
      BEGIN
        IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = 'lldap') THEN
          CREATE ROLE lldap LOGIN;
        END IF;
      END
      $$;
      ALTER ROLE lldap WITH PASSWORD :'lldap_pass';

      SELECT 'CREATE DATABASE lldap' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'lldap')\gexec
      GRANT ALL PRIVILEGES ON DATABASE lldap TO lldap;
      ALTER DATABASE lldap OWNER TO lldap;
    EOSQL
