apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .Values.secretStore }}
    kind: ClusterSecretStore
  target:
    name: {{ .Release.Name }}-secrets
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: {{ .Values.userPasswordRef }}
    - secretKey: authelia-password
      remoteRef:
        key: {{ .Values.autheliaPasswordRef }}
    - secretKey: lldap-password
      remoteRef:
        key: lldap-postgres-password
