apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .Values.secretStore }}
    kind: ClusterSecretStore
  target:
    name: {{ .Release.Name }}-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        password: "{{"{{"}} .password | trim {{"}}"}}"
        authelia-password: "{{"{{"}} .authelia_password | trim {{"}}"}}"
        lldap-password: "{{"{{"}} .lldap_password | trim {{"}}"}}"
  data:
    - secretKey: password
      remoteRef:
        key: {{ .Values.userPasswordRef }}
    - secretKey: authelia_password
      remoteRef:
        key: {{ .Values.autheliaPasswordRef }}
    - secretKey: lldap_password
      remoteRef:
        key: {{ .Values.lldapPasswordRef }}
