apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}
spec:
  serviceName: {{ .Release.Name }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - image: "postgres:{{ .Chart.AppVersion }}"
          name: postgres
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secrets
                  key: password
            - name: POSTGRES_USER
              value: {{ .Values.user }}
            - name: POSTGRES_DB
              value: {{ .Values.database }}
            - name: AUTHELIA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secrets
                  key: authelia-password
          volumeMounts:
            - name: postgres-pv-storage
              mountPath: /var/lib/postgresql
            - name: init-scripts
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: init-scripts
          configMap:
            name: {{ .Release.Name }}-init-scripts
  volumeClaimTemplates:
    - metadata:
        name: postgres-pv-storage
      spec:
        storageClassName: {{ .Values.storageClass }}
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: {{ .Values.size | default "8Gi" }}
