authelia:
  configMap:
    session:
      cookies:
        - domain: "127.0.0.1"
          authelia_url: "http://127.0.0.1:9091"
          insecure: true
    identity_providers:
      oidc:
        clients:
          - client_id: "insidan"
            client_name: "Insidan"
            client_secret:
              path: "/secrets/authelia-secrets/client-insidan-secret"
            public: false
            authorization_policy: "one_factor"
            redirect_uris:
              - "http://localhost:3000/api/auth/callback"
              - "http://localhost:8000/api/auth/callback"
              - "https://insidan.linkopingsfallskarmsklubb.se/api/auth/callback"
            scopes: ["openid", "profile", "email", "groups"]
    access_control:
      rules:
        - domain: "127.0.0.1"
          policy: "one_factor"

  ingress:
    enabled: false
